@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
@font-face {
    font-family: 'bignoodletoo';
    src: url("/images/bignoodletoo.ttf");
  }
.manga-cover-list {
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: rgb(78, 40, 122);
    border-width: 1px;
    margin: 25px 20%;
    padding: 25px 50px 50px 50px;
}

.section-text {
    font-family: 'bignoodletoo', cursive;
    font-size: 3rem;
    color: rgb(78, 40, 122);
    margin-bottom: 30px;
}