@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.manga-cover-list {
    margin-right: 20%;
    margin-left: 20%;
    height: auto;
}

.section-text {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 4rem;
    margin: 10px 0;
    color: rgb(78, 40, 122);
}