@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

.ICWT {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.imagecover {
    border-radius: 10px;
    object-fit: cover;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(253, 249, 255);
}

.titlediv {
    margin-top: 10px;
}

.titletext {
    font-family: 'Kosugi Maru', sans-serif;
    text-align: center;
    color: rgb(78, 40, 122);
}
